<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src="/js/jquery-3.6.1.min.js"></script>
        <script src="/js/scripts.js"></script>
        <script src="/js/audio.js"></script>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div id="overlay"></div>
        <div class="wrapper">
            <h1>Eyedentify</h1>
            <p class="subline">Eye see what you did there</p>
            <form class="dropzone" method="POST" action="/upload" enctype="multipart/form-data" onsubmit="event.preventDefault();">
                <div class="dropzone_input">
                    <input class="inputfile" id="file" name="file" type="file" accept="video/mp4">
                    <label for="file"><strong>Choose a file<span class="dropzone_dragndrop"> or drag it here</span>.</strong></label>
                    <!-- <button class="dropzone_button" type="submit">Upload</button> -->
                </div>
                <!-- <div class="dropzone_uploading">Video is uploading...</div> -->
                <div class="dropzone_success">Done!</div>
                <div class="dropzone_error">An error occured.</div>
                <div class="is_processing hidden">
                    <p><strong>Video is processing...</strong></p>
                    <img src="/img/loading.svg" id="is_loading" src='/img/loading.svg'>
                </div>
            </form>
            <div class="output">
                <div class="output_image hidden"></div>
                <div class="output_text">
                    <p>Angry cat sitting on a pile of gold in a goblin cave, realistic photograph</p>
                </div>
                <!-- Hidden audio output area -->
                <div class="output_sound hidden">
                    <audio controls>
                        <source src="" type="audio/mpeg">
                    </audio>
                    <button id="playPauseButton">Play</button>
                    <div id="audioElementsFrame" class="audioElemetsFrame">
                        <!-- Area for audio elements -->                    
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>