html {
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100%;
    padding: 25px;
    margin: 0;
    /* overflow: hidden; */
    background-color: #343a40;
    
    box-sizing: border-box;

    /* font-family: 'Lora';
    font-style: italic;
    font-weight: 500; */

    font-family: 'Space Mono';
    font-weight: 400;

    color: #F5F0F6;
    text-shadow: 8px 8px 10px #0000008c;

    /* Background 1*/
    background-image: radial-gradient(
      ellipse at center, 
      rgba(0,33,82,1) 0%, 
      rgba(0,0,0,1) 100%
    );
}

/* Background 1*/
body::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  background: 
    repeating-linear-gradient(
      45deg, transparent,
      transparent 1px, 
      rgba(0, 0, 0, .8) 10px, 
      rgba(255,255,255, 1) 10px
    );
  opacity: 0.3;
  z-index: -2;
}

/* Background 2 */
/* body::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase; */

    font-family: 'Mulish', sans-serif;
    font-weight: 900;

    /* color: #DE9151; */
    color: #7FB069;
}

h1 {
    font-size: 6rem;
    margin: 1rem;
}

.subline {
    font-size: 2rem;
    margin: 0rem 0 2rem 0;
    color: #F5F0F6;
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 2;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
}

.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 25vh;
  }
  
  .dropzone.advanced_features {
    border: 2px dashed rgba(255,255,255,0.5);
    border-radius: 25px;
    background-color: transparent;
    transition: border 0.25s linear, background-color 0.25s linear;;
}

.dropzone.advanced_features .dropzone_dragndrop {
    display: inline;
}

.dropzone.is_dragover {
    background-color: rgba(255,255,255,0.5);
    border: 2px solid rgba(120, 120, 120, 0.8);
    transition: border 0.25s linear, background-color 0.25s linear;
}

/* Classes for status divs */
.dropzone_dragndrop,
.dropzone_uploading,
.dropzone_success,
.dropzone_error {
    display: none;
}

.dropzone.is_uploading .dropzone_input {
  visibility: none;
}

.dropzone.is_uploading .dropzone_uploading {
  display: block;
}

.is_processing > p {
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
}

/* Hide input */
.inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1; 
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    background-color: none;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: #01BAEF;
}

/* Keep border for accessibility */
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2rem;
    padding: 1rem;
}

.hidden {
    display: none;
}

.output > div {
    margin: 0.5rem;
}

.output .output_sound {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.output .output_sound > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.output .output_text > p {
    font-size: 1.5rem;

}

/* Range Slider */
label {
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    margin: 1rem;
}

input[type=range].slider {
    width: 50%;
    margin: 0.7px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range].slider:focus {
    outline: none;
  }
  input[type=range].slider::-webkit-slider-runnable-track {
    background: #484d4d;
    border: 0;
    width: 100%;
    height: 25.6px;
    cursor: pointer;
  }
  input[type=range].slider::-webkit-slider-thumb {
    margin-top: -0.7px;
    width: 18px;
    height: 27px;
    background: #f03f35;
    border: 0px solid rgba(125, 60, 48, 0);
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #5e6565;
  }
  input[type=range].slider::-moz-range-track {
    background: #484d4d;
    border: 0;
    width: 100%;
    height: 25.6px;
    cursor: pointer;
  }
  input[type=range].slider::-moz-range-thumb {
    width: 18px;
    height: 27px;
    background: #f03f35;
    border: 0px solid rgba(125, 60, 48, 0);
    border: 0;
    cursor: pointer;
  }
  input[type=range].slider::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 0.7px 0;
    color: transparent;
    width: 100%;
    height: 25.6px;
    cursor: pointer;
  }
  input[type=range].slider::-ms-fill-lower {
    background: #323535;
    border: 0;
  }
  input[type=range].slider::-ms-fill-upper {
    background: #484d4d;
    border: 0;
  }
  input[type=range].slider::-ms-thumb {
    width: 18px;
    height: 27px;
    background: #f03f35;
    border: 0px solid rgba(125, 60, 48, 0);
    border: 0;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range].slider:focus::-ms-fill-lower {
    background: #484d4d;
  }
  input[type=range].slider:focus::-ms-fill-upper {
    background: #5e6565;
  }
  @supports (-ms-ime-align:auto) {
    input[type=range].slider {
      margin: 0;
    }
  }
  
/* Background Waves */
#waves {
  position: absolute;
  z-index: -1;
  opacity: 0.05;
  /* top: 38%; */
}
  

/* --- Local fonts --- */

/* FONT COMBINATION 1 */

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-condensed-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-condensed-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-condensed-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-condensed-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-condensed-v25-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-condensed-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-condensed-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-condensed-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-condensed-v25-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-condensed-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-condensed-v25-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lora-v26-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lora-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lora-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora-v26-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lora-v26-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
}

/* lora-500italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/lora-v26-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lora-v26-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lora-v26-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora-v26-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora-v26-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lora-v26-latin-500italic.svg#Lora') format('svg'); /* Legacy iOS */
}

/* FONT COMBINATION 2 */

/* mulish-regular - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mulish-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/mulish-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/mulish-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/mulish-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/mulish-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/mulish-v12-latin-regular.svg#Mulish') format('svg'); /* Legacy iOS */
}

/* mulish-900 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/mulish-v12-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/mulish-v12-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/mulish-v12-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/mulish-v12-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/mulish-v12-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/mulish-v12-latin-900.svg#Mulish') format('svg'); /* Legacy iOS */
}

/* space-mono-regular - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-mono-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/space-mono-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/space-mono-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/space-mono-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/space-mono-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/space-mono-v12-latin-regular.svg#SpaceMono') format('svg'); /* Legacy iOS */
}

/* space-mono-italic - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/space-mono-v12-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/space-mono-v12-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/space-mono-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/space-mono-v12-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/space-mono-v12-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/space-mono-v12-latin-italic.svg#SpaceMono') format('svg'); /* Legacy iOS */
}

/* space-mono-700 - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/space-mono-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/space-mono-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/space-mono-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/space-mono-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/space-mono-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/space-mono-v12-latin-700.svg#SpaceMono') format('svg'); /* Legacy iOS */
}

/* space-mono-700italic - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/space-mono-v12-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/space-mono-v12-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/space-mono-v12-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/space-mono-v12-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/space-mono-v12-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/space-mono-v12-latin-700italic.svg#SpaceMono') format('svg'); /* Legacy iOS */
}
